.original-text-contents {
  padding-top: 20px;
}

.SentimentWordCloud {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.SentimentDataTable {
  margin-top: 50px;
  margin-bottom: 50px;
}

.SentenceListItem {
  .sentiment-training-form {
    //margin-top: 30px;
    //margin-bottom: 20px;
  }
}

.SentenceListItem .sentence-info-row {
  margin-bottom: 15px;
}
